.1_3 {
	overflow:hidden;
}
.e1_3 {
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:1340px;
	height:900px;
	position:absolute;
}
.e20_14 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:200px;
	top:101px;
	background-image:url('nubes_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_15 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:0px;
	top:101px;
	background-image:url('nubes_2.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_16 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:400px;
	top:101px;
	background-image:url('nubes_3.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_5 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:300px;
	top:25px;
	background-image:url('nubes_7.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_7 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:759px;
	top:25px;
	background-image:url('nubes_9.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_8 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:959px;
	top:25px;
	background-image:url('nubes_10.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e54_6 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:100px;
	top:25px;
	background-image:url('nubes_8.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_2 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:1080px;
	top:101px;
	background-image:url('nubes_4.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e246_4 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:66px;
	top:697px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e246_8 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:66px;
	top:697px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e369_6 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:66px;
	top:697px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e246_9 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:270px;
	top:697px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e246_12 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:717px;
	top:712px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e246_13 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:211px;
	height:85px;
	position:absolute;
	left:930px;
	top:722px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e47_3 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:880px;
	top:101px;
	background-image:url('nubes_5.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e236_5 {
    color: rgba(0, 0, 0, 1);
    width: 221px;
    height: 76px;
    position: absolute;
    left: 950px;
    top: 750px;
    font-family: 'Jolly Lodger', sans-serif;
    text-align: left;
    font-size: 23px;
    letter-spacing: 0;
    z-index: 2;
}

}
.e47_4 {
	width:200px;
	height:195.1672821044922px;
	position:absolute;
	left:680px;
	top:101px;
	background-image:url('nubes_6.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e94_4 {
	width:631px;
	height:726px;
	position:absolute;
	left:616px;
	top:199px;
	background-image:url('estrella_removebg_preview_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e95_5 {
	width:631px;
	height:726px;
	position:absolute;
	left:-31px;
	top:180px;
	background-image:url('estrella_removebg_preview_2.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e368_4 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:-26px;
	top:521px;
	border-radius:30px;
}
.e425_11 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:230px;
	height:83px;
	position:absolute;
	left:473px;
	top:704px;
	border-radius:30px;
}
.e426_12 {
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:25px;
	position:absolute;
	left:480px;
	top:730px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e368_2 {
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:184px;
	height:95px;
	position:absolute;
	left:1080px;
	top:568px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e368_3 {
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:43px;
	position:absolute;
	left:1120px;
	top:580px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e369_7 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:76px;
	position:absolute;
	left:22px;
	top:543px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:28px;
	letter-spacing:10%;
}
.e97_7 {
	width:175px;
	height:179px;
	position:absolute;
	left:542px;
	top:20px;
	background-image:url('image_5.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e229_2 {
	color:rgba(0, 0, 0, 1);
	width:966px;
	height:164px;
	position:absolute;
	left:175px;
	top:334px;
	font-family:JejuMyeongjo;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e234_2 {
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:83px;
	position:absolute;
	left:100px;
	top:710px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e242_2 {
	transform: rotate(1.2249008753657191deg);
	background-color:rgba(255, 237.0000010728836, 120.00000044703484, 1);
	width:253.0941925048828px;
	height:63.37688446044922px;
	position:absolute;
	left:463.4697265625px;
	top:628.5032348632812px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e236_6 {
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:56px;
	position:absolute;
	left:490px;
	top:640px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e235_3 {
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:83px;
	position:absolute;
	left:284px;
	top:710px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e236_4 {
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:83px;
	position:absolute;
	left:750px;
	top:723px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
/*------------------------------------------------------------------------*/
.91_3 {
	overflow:hidden;
}
.e91_3 {
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:1330px;
	height:840px;
	position:absolute;
}
.e114_21 {
	width:180px;
	height:170px;
	position:absolute;
	left:868px;
	top:56px;
	background-image:url('image_10 (1).png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e111_15 {
	width:180px;
	height:175.80487060546875px;
	position:absolute;
	left:260px;
	top:50px;
	background-image:url('image_7.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_17 {
	width:185px;
	height:170px;
	position:absolute;
	left:470px;
	top:50px;
	background-image:url('image_8.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e113_19 {
	width:185px;
	height:170px;
	position:absolute;
	left:669px;
	top:50px;
	background-image:url('image_9.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e144_3 {
	width:250px;
	height:249.40048217773438px;
	position:absolute;
	left:0px;
	top:600px;
	background-image:url('image_16.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e146_5 {
	width:280px;
	height:270.40931701660156px;
	position:absolute;
	left:1000.306875px;
	top:321.276123046875px;
	background-image:url('image_17.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e167_10 {
	color:rgba(0, 0, 0, 1);
	width:750px;
	height:250px;
	position:absolute;
	left:255px;
	top:541px;
	text-align:justified;
	font-size:36px;
	letter-spacing:0;
}
.e170_11 {
	color:rgba(0, 0, 0, 1);
	width:734px;
	height:190px;
	position:absolute;
	left:61px;
	top:287px;
	text-align:justified;
	font-size:36px;
	letter-spacing:0;
}
.e177_14 {
	width:100px;
	height:100px;
	position:absolute;
	left:1028px;
	top:732px;
	background-image:url('image_25.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e181_18 {
	width:100px;
	height:100px;
	position:absolute;
	left:1154px;
	top:727px;
	background-image:url('image_27.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e263_12 {
	background-color:rgba(212.00000256299973, 139.0000069141388, 236.00000113248825, 1);
	width:173px;
	height:60px;
	position:absolute;
	left:1090px;
	top:20px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e263_13 {
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:45px;
	position:absolute;
	left:1125px;
	top:25px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
/*------------------------------------------------------*/
.69_2 {
	overflow:hidden;
}
.e69_2 {
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:1340px;
	height:920px;
	position:absolute;
}
.e72_26 {
	color:rgba(0, 0, 0, 1);
	width:1153px;
	height:54px;
	position:absolute;
	left:58px;
	top:195px;
	font-family:Almarai;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e72_25 {
	color:rgba(0, 0, 0, 1);
	width:910px;
	height:513px;
	position:absolute;
	left:348px;
	top:444px;
	text-align:justified;
	font-size:36px;
	letter-spacing:0;
}
.e77_65 {
	width:350px;
	height:359px;
	position:absolute;
	left:-10px;
	top:408px;
	border-top-left-radius:95px;
	border-top-right-radius:95px;
	border-bottom-left-radius:95px;
	border-bottom-right-radius:95px;
	background-image:url('imagen_10.png');
	background-repeat:no-repeat;
	background-size:cover;
}.e72_38 {
	width:133px;
	height:133px;
	position:absolute;
	left:125px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_40 {
	width:133px;
	height:133px;
	position:absolute;
	left:272px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_2.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_42 {
	width:133px;
	height:133px;
	position:absolute;
	left:418px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_3.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_44 {
	width:133px;
	height:133px;
	position:absolute;
	left:562px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_4.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_46 {
	width:133px;
	height:133px;
	position:absolute;
	left:708px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_6.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_47 {
	width:133px;
	height:133px;
	position:absolute;
	left:855px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_7.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e73_49 {
	width:133px;
	height:133px;
	position:absolute;
	left:1003px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url('imagen_9.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e73_50 {
	color:rgba(0, 0, 0, 1);
	width:1196px;
	height:69px;
	position:absolute;
	left:62px;
	top:249px;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e73_52 {
	width:130px;
	height:118px;
	position:absolute;
	left:634px;
	top:326px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	background-image:url('sin_t_tulo_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e73_54 {
	width:128px;
	height:118px;
	position:absolute;
	left:488px;
	top:326px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	background-image:url('9635aa77a63d42ea4c30fc55e71c1136_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e263_14 {
	background-color:rgba(212.00000256299973, 139.0000069141388, 236.00000113248825, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:1090px;
	top:749px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e263_15 {
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:1120px;
	top:751px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e194_3 {
	width:109px;
	height:106px;
	position:absolute;
	left:784px;
	top:335px;
	background-image:url('imagen_11.png');
	background-repeat:no-repeat;
	background-size:cover;
}
/*-------------------------------------------------------------------------------------------*/
.118_2 {
	overflow:hidden;
}
.e118_2 {
	background-color:rgba(212.00000256299973, 139.0000069141388, 236.00000113248825, 1);
	width:1340px;
	height:832px;
	position:absolute;
}
.e130_23 {
	width:153px;
	height:160px;
	position:absolute;
	left:250px;
	top:25px;
	background-image:url('image_11.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_39 {
	width:153px;
	height:160px;
	position:absolute;
	left:753px;
	top:25px;
	background-image:url('image_15.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e157_41 {
	width:349px;
	height:350px;
	position:absolute;
	left:-25px;
	top:447px;
	background-image:url('image_18.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e166_49 {
	width:172px;
	height:193px;
	position:absolute;
	left:334px;
	top:502px;
	background-image:url('image_19.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e166_51 {
	width:95px;
	height:94px;
	position:absolute;
	left:519px;
	top:536px;
	background-image:url('image_20.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_53 {
	width:172px;
	height:174px;
	position:absolute;
	left:645px;
	top:512px;
	background-image:url('image_21.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e172_55 {
	width:70px;
	height:62px;
	position:absolute;
	left:830px;
	top:552px;
	background-image:url('image_22.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e174_57 {
	width:140px;
	height:140px;
	position:absolute;
	left:930px;
	top:512px;
	background-image:url('image_23.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e174_58 {
	width:140px;
	height:140px;
	position:absolute;
	left:1040px;
	top:516px;
	background-image:url('image_24.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e182_62 {
	width:165px;
	height:165px;
	position:absolute;
	left:1170px;
	top:9px;
	background-image:url('image_26.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e183_66 {
	width:111px;
	height:109px;
	position:absolute;
	left:69px;
	top:44px;
	background-image:url('image_28.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e130_25 {
	width:130px;
	height:152px;
	position:absolute;
	left:403px;
	top:28px;
	background-image:url('image_12.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e130_27 {
	width:138px;
	height:162px;
	position:absolute;
	left:533px;
	top:28px;
	background-image:url('image_13.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e138_29 {
	width:144px;
	height:162px;
	position:absolute;
	left:656px;
	top:28px;
	background-image:url('image_14.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e263_10 {
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:1065px;
	top:735px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e162_42 {
	color:rgba(0, 0, 0, 1);
	width:991px;
	height:351px;
	position:absolute;
	left:203px;
	top:241px;
	text-align:justified;
	font-size:40px;
	letter-spacing:0;
}
.e263_11 {
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:1090px;
	top:737px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
/*-------------------------------------------------------------------------------------------*/
.206_26 {
	overflow:hidden;
}
.e206_26 {
	background-color:rgba(242.00000077486038, 158.00000578165054, 88.00000235438347, 1);
	width:1340px;
	height:1060px;
	position:absolute;
}
.e206_27 {
	color:rgba(0, 0, 0, 1);
	width:680px;
	height:210px;
	position:absolute;
	left:260px;
	top:40px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:73px;
	letter-spacing:0;
}
.e206_28 {
	transform: rotate(178.33328085959326deg);
	width:200px;
	height:200px;
	position:absolute;
	left:-10px;
	top:851.906005859375px;
	background-image:url('image_29.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_29 {
	width:190px;
	height:199px;
	position:absolute;
	left:1138px;
	top:-0px;
	background-image:url('image_30.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_35 {
	width:600px;
	height:260px;
	position:absolute;
	left:315px;
	top:195px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url('imagen_de_whatsapp_2023_09_28_a_las_19_47_2.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e212_50 {
	color:rgba(0, 0, 0, 1);
	width:885px;
	height:64px;
	position:absolute;
	left:285px;
	top:461px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e213_51 {
	color:rgba(0, 0, 0, 1);
	width:885px;
	height:508px;
	position:absolute;
	left:345px;
	top:130px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:5;
}
.e246_23 {
	width:152px;
	height:155px;
	position:absolute;
	left:1085px;
	top:666px;
	background-image:url('image_31.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_31 {
	width:640px;
	height:250px;
	position:absolute;
	left:315px;
	top:531px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url('imagen_de_whatsapp_2023_09_28_a_las_19_47_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e246_24 {
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:50px;
	position:absolute;
	left:1109px;
	top:720px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
/*----------------------------------------------------------------*/
.218_2 {
	overflow:hidden;
}
.e218_2 {
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.e296_14 {
	width:631px;
	height:606px;
	position:absolute;
	left:665px;
	top:-1px;
	background-image:url('estrella_removebg_preview_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e298_17 {
	transform: rotate(360deg);
	width:630px;
	height:606px;
	position:absolute;
	left: 50px;
	top:1px;
	background-image:url('estrella_removebg_preview_2.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e299_18 {
	width:220px;
	height:214.6840057373047px;
	position:absolute;
	left:250px;
	top:1px;
	background-image:url('nubes_10.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e300_19 {
	width:220px;
	height:214.6840057373047px;
	position:absolute;
	left:383px;
	top:1px;
	background-image:url('nubes_11.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e300_20 {
	width:220px;
	height:214.6840057373047px;
	position:absolute;
	left:530px;
	top:1px;
	background-image:url('nubes_12.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e300_21 {
	width:220px;
	height:214.6840057373047px;
	position:absolute;
	left:703px;
	top:1px;
	background-image:url('nubes_13.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e220_3 {
	color:rgba(0, 0, 0, 1);
	width:618px;
	height:75px;
	position:absolute;
	left:305px;
	top:25px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e263_8 {
	background-color:rgba(212.00000256299973, 139.0000069141388, 236.00000113248825, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:1040px;
	top:725px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e263_9 {
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:1065px;
	top:727px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e488_6 {
	width:614px;
	height:71px;
	position:absolute;
	left:9px;
	top:407px;
	background-image:url('captura_de_pantalla_2023_10_19_140041_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.ppp {
	width:1000px;
	height:1000px;
	position:absolute;
	left:9px;
	top:500px;
	background-image:url('po.png');
	background-repeat:no-repeat;
	background-size:60%;
}
.e488_7 {
	width:600px;
	height:71px;
	position:absolute;
	left:640px;
	top:250px;
	background-image:url('captura_de_pantalla_2023_10_19_140025_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}

.uuu {
	width: 1000px;
	height:190px;
	position:absolute;
	left:10px;
	top:250px;
	background-image:url('pi.png');
	background-repeat:no-repeat;
	background-size: 60%;
}
.e488_9 {
	width:583px;
	height:123px;
	position:absolute;
	left:643px;
	top:407px;
	background-image:url('captura_de_pantalla_2023_10_19_135958_1.png');
	background-repeat:no-repeat;
	background-size:cover;
}

/*#""""#diagrama de vennn estilos-----------------------------------------""""*/
.448_9 { 
	overflow:hidden;
}
.e448_9 { 
	background-color:rgba(201.44000440835953, 132.0000073313713, 244.0000006556511, 1);
	width:1350px;
	height: 1000px;
	position:absolute;
}
.e448_10 { 
	transform: rotate(-107.52791525011533deg);
	width: 300px;;
	height:222px;
	position:absolute;
	left:-30px;
	top:-90px;
	background-image:url(image_33.png);
	background-repeat:no-repeat;
	background-size:60%;
}
.e448_13 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:100px;
	position:absolute;
	left:411px;
	top:26px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e448_15 { 
	width:145px;
	height:145px;
	position:absolute;
	left:1086px;
	top:699px;
	background-image:url(image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_16 { 
	width:822px;
	height:600px;
	position:absolute;
	left:254px;
	top:160px;
	background-image:url(captura_de_pantalla_2023_10_13_143705_1.png);
	background-repeat:no-repeat;
	background-size:100%;
}
.e448_11 { 
	background-color:rgba(244.0000006556511, 132.0000073313713, 132.0000073313713, 1);
	width:286px;
	height:66px;
	position:absolute;
	left:21px;
	top:772px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e448_12 { 
	color:rgba(0, 0, 0, 1);
	width:269px;
	height:58px;
	position:absolute;
	left:31px;
	top:776px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e498_5 { 
	background-color:rgba(244.0000006556511, 132.0000073313713, 132.0000073313713, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:31px;
	top:688px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e498_6 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:60px;
	top:692px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}




/*#""""operaciones de venn----------------------------------------""""*/

.420_2 { 
	overflow:hidden;
}
.e420_2 { 
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:1280px;
	height:892px;
	position:absolute;
}
.e420_3 { 
	transform: rotate(-107.52791525011533deg);
	width:226px;
	height:222px;
	position:absolute;
	left:20px;
	top:-10px;
	background-image:url(image_33.png);
	background-repeat:no-repeat;
	background-size:100%;
}
.e420_4 { 
	background-color: #F48484;
	width:168px;
	height:66px;
	position:absolute;
	left:25px;
	top:739px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e420_5 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:54px;
	top:743px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e420_6 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:100px;
	position:absolute;
	left:411px;
	top:26px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e426_52 { 
	width:161px;
	height:154px;
	position:absolute;
	left:1087px;
	top:708px;
	background-image:url(image_25.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e426_15 { 
	width:152px;
	height:138px;
	position:absolute;
	left:888px;
	top:708px;
	background-image:url(image_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e426_16 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:31px;
	position:absolute;
	left:912px;
	top:770px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e447_2 { 
	width:590px;
	height:438px;
	position:absolute;
	left:33px;
	top:250px;
	background-image:url(captura_de_pantalla_2023_10_13_143530_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_3 { 
	width:575px;
	height:425px;
	position:absolute;
	left:676px;
	top:250px;
	background-image:url(captura_de_pantalla_2023_10_13_143551_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}







/*----------------------------------------------------------------*/



.292_12 { 
	overflow:hidden;
}
.e292_12 { 
	background-color:rgba(212.00000256299973, 139.0000069141388, 236.00000113248825, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.e293_13 { 
	color:rgba(0, 0, 0, 1);
	width:534px;
	height:106px;
	position:absolute;
	left:373px;
	top:26px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e301_22 { 
	width:250px;
	height:249.40048217773438px;
	position:absolute;
	left:0px;
	top:600px;
	background-image:url(image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e302_24 { 
	transform: rotate(360deg);
	width:250px;
	height:250px;
	position:absolute;
	left:1000px;
	top:10px;
	background-image:url(image_32.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e306_25 { 
	transform: rotate(-107.52791525011533deg);
	width:226px;
	height:222px;
	position:absolute;
	left:13.06451416015625px;
	top:10px;
	background-image:url(image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e373_8 { 
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:1075px;
	top:725px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e373_9 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:1100px;
	top:727px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e285_7 { 
	width:1188px;
	height:156px;
	position:absolute;
	left:43px;
	top:352px;
	background-image:url(whatsapp_image_2023_09_29_at_11_35_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/*----------------------------------------------------------------*/

.426_17 { 
	overflow:hidden;
}
.e426_17 { 
	background-color:rgba(244.0000006556511, 212.64000982046127, 132.0000073313713, 1);
	width:20000px;
	height:1000px;
	position:absolute;
}
.e426_18 { 
	transform: rotate(-107.52791525011533deg);
	width:226px;
	height:222px;
	position:absolute;
	left:20px;
	top:10px;
	background-image:url(image_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e426_19 { 
	background-color:rgba(244.0000006556511, 132.0000073313713, 132.0000073313713, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:200px;
	top:739px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e426_20 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:220px;
	top:743px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e426_21 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:100px;
	position:absolute;
	left:411px;
	top:26px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}
.e426_22 { 
	transform: rotate(360deg);
	width:203px;
	height:203px;
	position:absolute;
	left:1390px;
	top:715px;
	background-image:url(image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e426_25 { 
	width:152px;
	height:138px;
	position:absolute;
	left:1200px;
	top:700px;
	background-image:url(image_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_4 { 
	width:615px;
	height:469px;
	position:absolute;
	left:200px;
	top:200px;
	background-image:url(captura_de_pantalla_2023_10_13_143609_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_5 { 
	width:599px;
	height:469px;
	position:absolute;
	left:900px;
	top:200px;
	background-image:url(captura_de_pantalla_2023_10_13_143634_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e558_2 { 
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:55px;
	position:absolute;
	left:1220px;
	top:759px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}








/*-------ope3---------------------------------------------------------*/



.426_28 { 
	overflow:hidden;
}
.e426_28 { 
	background-color:rgba(132.0000073313713, 244.0000006556511, 136.4800125360489, 1);
	width:1280px;
	height:892px;
	position:absolute;
}
.e426_29 { 
	transform: rotate(-107.52791525011533deg);
	width:226px;
	height:222px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(image_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e426_30 { 
	background-color:rgba(244.0000006556511, 132.0000073313713, 132.0000073313713, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:25px;
	top:739px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e426_31 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:54px;
	top:743px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e426_32 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:100px;
	position:absolute;
	left:411px;
	top:26px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}
.e426_34 { 
	width:581px;
	height:425px;
	position:absolute;
	left:350px;
	top:241px;
	background-image:url(captura_de_pantalla_2023_10_12_132045_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e426_53 { 
	width:145px;
	height:145px;
	position:absolute;
	left:1086px;
	top:699px;
	background-image:url(image_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}



/*-------res1---------------------------------------------------------*/
.212_42 { 
	overflow:hidden;
}
.e212_42 { 
	background-color:rgba(242.00000077486038, 158.00000578165054, 88.00000235438347, 1);
	width:1390px;
	height:1000px;
	position:absolute;
}
.e212_43 { 
	color:rgba(0, 0, 0, 1);
	width:699px;
	height:203px;
	position:absolute;
	left:290px;
	top:0px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e212_44 { 
	transform: rotate(178.33328085959326deg);
	width:226px;
	height:222px;
	position:absolute;
	left:10px;
	top:800px;
	background-image:url(image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e212_45 { 
	width:186px;
	height:199px;
	position:absolute;
	left:1119px;
	top:19px;
	background-image:url(image_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_37 { 
	width:465px;
	height:214px;
	position:absolute;
	left:378px;
	top:242px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	background-image:url(imagen_de_whatsapp_2023_09_28_a_las_19_47_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_39 { 
	width:554px;
	height:235px;
	position:absolute;
	left:363px;
	top:517px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	background-image:url(imagen_de_whatsapp_2023_09_28_a_las_19_47_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e213_52 { 
	color:rgba(0, 0, 0, 1);
	width:885px;
	height:508px;
	position:absolute;
	left:235px;
	top:133px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e213_53 { 
	color:rgba(0, 0, 0, 1);
	width:885px;
	height:508px;
	position:absolute;
	left:223px;
	top:456px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e246_29 { 
	width:152px;
	height:138px;
	position:absolute;
	left:1088px;
	top:600px;
	background-image:url(image_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e558_3 { 
	color:rgba(0, 0, 0, 1);
	width:235px;
	height:123px;
	position:absolute;
	left:1108px;
	top:660px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}

/*-------res2---------------------------------------------------------*/
.214_54 { 
	overflow:hidden;
}
.e214_54 { 
	background-color:rgba(242.00000077486038, 158.00000578165054, 88.00000235438347, 1);
	width: 1320px;
	height:832px;
	position:absolute;
}
.e214_55 { 
	color:rgba(0, 0, 0, 1);
	width:679px;
	height:203px;
	position:absolute;
	left:301px;
	top:27px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:75px;
	letter-spacing:0;
}
.e214_56 { 
	transform: rotate(178.33328085959326deg);
	width:226px;
	height:222px;
	position:absolute;
	left:10px;
	top:620px;
	background-image:url(image_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e214_57 { 
	width:186px;
	height:199px;
	position:absolute;
	left:1090px;
	top:-19px;
	background-image:url(image_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e212_41 { 
	width:526px;
	height:212px;
	position:absolute;
	left:377px;
	top:310px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	background-image:url(imagen_de_whatsapp_2023_09_28_a_las_19_47_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e197_17 { 
	color:rgba(0, 0, 0, 1);
	width:885px;
	height:508px;
	position:absolute;
	left:407px;
	top:230px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e263_4 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:1012px;
	top:690px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e263_6 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:1037px;
	top:692px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
/*-------conclusion ---------------------------------------------------------*/


.350_27 { 
	overflow:hidden;
}
.e350_27 { 
	background-color:rgba(212.00000256299973, 139.0000069141388, 236.00000113248825, 1);
	width:1350px;
	height:892px;
	position:absolute;
}
.e366_5 { 
	transform: rotate(-107.52791525011533deg);
	width:226px;
	height:222px;
	position:absolute;
	left:10px;
	top:10;
	background-image:url(image_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e374_10 { 
	background-color:rgba(132.0000073313713, 182.00000435113907, 244.0000006556511, 1);
	width:168px;
	height:66px;
	position:absolute;
	left:25px;
	top:777px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e374_11 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:58px;
	position:absolute;
	left:50px;
	top:779px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e378_2 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:100px;
	position:absolute;
	left:411px;
	top:90px;
	font-family:Jolly Lodger;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e378_3 { 
	color:rgba(0, 0, 0, 1);
	width:955px;
	height:462px;
	position:absolute;
	left:163px;
	top:255px;
	font-family:Inter;
	text-align:justified;
	font-size:36px;
	letter-spacing:0;
}
.e374_13 { 
	transform: rotate(360deg);
	width:215px;
	height:222px;
	position:absolute;
	left:1000px;
	top:600px;
	background-image:url(image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}


